@font-face {
    font-family: 'TwCenMTStd';
    src: url('../fonts/TwCenMTStd.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri';
    src: url('../fonts/Calibri\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.font-style {
    font-family: 'calibri';
    font-size: 20px;
}
.t {
    font-family: 'TwCenMTStd';
}
body {
    font-family: 'calibri';
}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.fs2{font-size:56.200000px;}
.y4{bottom:27.786500px;}
.ya{bottom:28.815000px;}
.y9{bottom:133.800000px;}
.y7{bottom:199.200000px;}
.y5{bottom:264.525000px;}
.y3{bottom:329.850000px;}
.y2{bottom:974.955000px;}
.y1{bottom:1031.836500px;}
.h5{height:37.457520px;}
.h3{height:58.519043px;}
.h4{height:65.325000px;}
.h6{height:65.400000px;}
.h2{height:95.976562px;}
.h0{height:1262.850000px;}
.h1{height:1263.750000px;}
.w3{width:22.575000px;}
.w2{width:154.500000px;}
.w4{width:498.375000px;}
.w0{width:892.950000px;}
.w1{width:894.000000px;}
.x0{left:0.000000px;}
.x4{left:8.175000px;}
.x3{left:136.725000px;}
.x5{left:291.150000px;}
.x2{left:295.920000px;}
.x6{left:313.650000px;}
.x1{left:346.860000px;}
@media print{
    .v0{vertical-align:0.000000pt;}
    .ls0{letter-spacing:0.000000pt;}
    .ws0{word-spacing:0.000000pt;}
    ._1{margin-left:-14.358933pt;}
    ._2{margin-left:-8.819378pt;}
    ._6{margin-left:-0.902044pt;}
    ._4{width:1.027022pt;}
    ._5{width:7.322844pt;}
    ._3{width:12.102756pt;}
    ._0{width:19.665778pt;}
    .fs2{font-size:49.955556pt;}
    .fs1{font-size:78.044444pt;}
    .fs0{font-size:128.000000pt;}
    .y0{bottom:-0.666667pt;}
    .y8{bottom:25.560000pt;}
    .y6{bottom:25.573333pt;}
    .y4{bottom:25.588000pt;}
    .ya{bottom:25.613333pt;}
    .y9{bottom:118.933333pt;}
    .y7{bottom:177.066667pt;}
    .y5{bottom:235.133333pt;}
    .y3{bottom:293.200000pt;}
    .y2{bottom:866.626667pt;}
    .y1{bottom:917.188000pt;}
    .h5{height:33.295573pt;}
    .h3{height:52.016927pt;}
    .h4{height:58.066667pt;}
    .h6{height:58.133333pt;}
    .h2{height:85.312500pt;}
    .h0{height:1122.533333pt;}
    .h1{height:1123.333333pt;}
    .w3{width:20.066667pt;}
    .w2{width:137.333333pt;}
    .w4{width:443.000000pt;}
    .w0{width:793.733333pt;}
    .w1{width:794.666667pt;}
    .x0{left:0.000000pt;}
    .x4{left:7.266667pt;}
    .x3{left:121.533333pt;}
    .x5{left:258.800000pt;}
    .x2{left:263.040000pt;}
    .x6{left:278.800000pt;}
    .x1{left:308.320000pt;}
    .new-page {
        page-break-inside: avoid;
    }
}
/* add style page print */
@media print {
    /* potrait */
    @page {
        size: A4;
        margin: 0.61in 0 0.56in 0;
        
    }
    
    @page :first {
        margin: 0;
    }
    
    @page :blank {
        margin: 0;
    }
}