.pas-foto {
    width: 100px;
    height: 120px;
    border: 1px solid black;
}
.tajawal {
    font-family: 'Tajawal', sans-serif;
}
body {
    font-size: .7em;
}
.y8{bottom:204.600000px;}
.y5{bottom:288.200000px;}
.h5{height:44.550000px;}
.h0{height:841.900000px;}
.w2{width:426.350000px;}
.w0{width:595.300000px;}
.w1{width:596.000000px;}
.x5{left:91.150000px;}
@media print{
    .tajawal {
        font-family: 'Tajawal', sans-serif;
        font-size: 1.6em;
    }
    .y8{bottom:272.800000pt;}
    .y5{bottom:384.266667pt;}
    .h0{height:1122.533333pt;}
    .h5{height:59.400000pt;}
    .w2{width:568.466667pt;}
    .w0{width:793.733333pt;}
    .w1{width:794.666667pt;}
    .x5{left:121.533333pt;}
    .fs-17{font-size: 1.7em;}
    .new-page {
        page-break-inside: avoid;
    }
}
/* add style page print */
@media print {
    .pas-foto {
        width: 200px;
        height: 300px;
        border: 2px solid black;
    }
    .hide-print {
        display: none;
    }
    body {
        font-size: 1.3em;
    }
    /* potrait */
    @page {
        size: A4;
        margin: 0.61in 0 0.80in 0;
    }
    
    @page :first {
        margin: 0;
    }
    
    @page :blank {
        margin: 0;
    }
}