#page-container{
    position:absolute;top:0;left:0;margin:0;padding:0;border:0
}
.pf{
    position:relative;background-color:white;overflow:hidden;margin:0;border:0
}
.c{
    position:absolute;border:0;padding:0;margin:0;overflow:hidden;display:block
}
.t{
    position:absolute;white-space:pre;font-size:1px;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%;unicode-bidi:bidi-override;-moz-font-feature-settings:"liga" 0
}
@media screen{
    #page-container{
        bottom:0;right:0;overflow:auto
    }
    #page-container{
        background-color:#9e9e9e;background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");-webkit-transition:left 500ms;transition:left 500ms
    }
    .pf{
        margin:13px auto;box-shadow:1px 1px 3px 1px #333;border-collapse:separate
    }
}
@media print{
    @page{
        margin:0
    }
    html{
        margin:0
    }
    body{
        margin:0;
    }
    #page-container{
        width:auto;height:auto;overflow:visible;background-color:transparent
    }
    .pf{
        margin:0;box-shadow:none;page-break-after:always;page-break-inside:avoid
    }
    @-moz-document url-prefix(){
        .pf{overflow:visible;border:1px solid #fff}.pc{overflow:visible}
    }
}
