.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.btn-set {
    background-color: #006d47;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}