.hori-timeline .events {
  border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}
.hori-timeline .events .event-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}
.hori-timeline .events .event-list .event-date {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 2px 4px;
}
@media (min-width: 1140px) {
  .hori-timeline .events .event-list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
  }
  .hori-timeline .events .event-list .event-date {
      top: -12px;
  }
}
.bg-soft-primary {
  background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
  background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
  background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
  background-color: rgba(249,213,112,.3)!important;
}
.card {
  border: none;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
  box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.bg-secondary {
  background: #e0dfdf!important;
}
* {
  color: rgb(42, 41, 41)!important; 
}

.btn-success {
  color: #fff!important;
}

.border-success,
.btn-info {
  color: rgb(42, 41, 41)!important; 
  background-color: #beda76!important;
  color: #fff!important;
}

.next {
  border: 1px solid rgb(56, 55, 55);
  background-color: #fff;
}

.next:hover {
  background-color: #beda76;
}

h1 {
  color: rgb(56, 55, 55)!important;
  font-size: 15px;
}
section{
  padding-top: 100px;
}
.form-section{
  padding-left: 15px;
  display: none;
}
.form-section.current{
  display: inherit;
}
.parsley-errors-list{
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  color: red;
}
.bg-card {
  background: #fffffd;
}

.text-small {
  font-size: 13px!important;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}